In [1]:
import pandas as pd
import numpy as py
from tqdm import tqdm
import requests
from io import BytesIO
from zipfile import ZipFile
import os
import shutil

In [7]:
dic_zone = {}
dic_zone['zone_1'] = [
    '05EZ1', '05EZ2', '05FZ1', '05FZ2', '06AZ1', '06AZ2', '06BZ1', '06BZ2',
    '06EZ1', '06EZ2', '06FZ1', '06FZ2', '05GN1', '05GN2', '05HN1', '05HN2',
    '06CN1', '06CN2', '06DN1', '06DN2', '06GN1', '06GN2', '06HN1', '06HN2',
    '05GZ1', '05GZ2', '05HZ1', '05HZ2', '06CZ1', '06CZ2', '06DZ1', '06DZ2',
    '06GZ1', '06GZ2', '06HZ1', '06HZ2', '10EN1', '10EN2', '10FN1', '10FN2',
    '11AN1', '11AN2', '11BN1', '11BN2', '11EN1', '11EN2', '11FN1', '11FN2',
    '10EZ1', '10EZ2', '10FZ1', '10FZ2', '11AZ1', '11AZ2', '11BZ1', '11BZ2',
    '11EZ1', '11EZ2', '11FZ1', '11FZ2', '10GN1', '10GN2', '10HN1', '10HN2',
    '11CN1', '11CN2', '11DN1', '11DN2', '11GN1', '11GN2', '11HN1', '11HN2',
    '10GZ1', '10GZ2', '10HZ1', '10HZ2', '11CZ1', '11CZ2', '11DZ1', '11DZ2',
    '11GZ1', '11GZ2', '11HZ1', '11HZ2', '15EN1', '15EN2', '15FN1', '15FN2',
    '16AN1', '16AN2', '16BN1', '16BN2', '16EN1', '16EN2', '16FN1', '16FN2'
]

dic_zone_['zone_2'] = [
    '14AZ2', '14BZ1', '14BZ2', '14EZ1', '14EZ2', '14FZ1', '14FZ2', '14CN2',
    '14DN1', '14DN2', '14GN1', '14GN2', '14HN1', '14HN2', '14CZ2', '14DZ1',
    '14DZ2', '14GZ1', '14GZ2', '14HZ1', '14HZ2', '19AN2', '19BN1', '19BN2',
    '19EN1', '19EN2', '19FN1', '19FN2', '19AZ2', '19BZ1', '19BZ2', '19EZ1',
    '19EZ2', '19FZ1', '19FZ2'
]

dic_zone['zone_3'] = [
    '19CN1', '19CN2', '19DN1', '19DN2', '19GN1', '19GN2', '19HN1', '19HN2',
    '20CN1', '20CN2', '20DN1', '20DN2', '20GN1', '20GN2', '20HN1', '20HN2',
    '21CN1', '19CZ1', '19CZ2', '19DZ1', '19DZ2', '19GZ1', '19GZ2', '19HZ1',
    '19HZ2', '20CZ1', '20CZ2', '20DZ1', '20DZ2', '20GZ1', '20GZ2', '20HZ1',
    '20HZ2', '21CZ1', '25AN1', '25AN2', '25BN1', '25BN2', '25EN1', '25EN2',
    '25FN1', '25FN2', '26AN1', '26AN2', '26BN1', '26BN2', '26EN1', '26EN2',
    '26FN1', '26FN2', '27AN1', '25AZ1', '25AZ2', '25BZ1', '25BZ2', '25EZ1',
    '25EZ2', '25FZ1', '25FZ2', '26AZ1', '26AZ2', '26BZ1', '26BZ2', '26EZ1',
    '26EZ2', '26FZ1', '26FZ2', '27AZ1', '25CN1', '25CN2', '25DN1', '25DN2',
    '25GN1', '25GN2', '25HN1', '25HN2', '26CN1', '26CN2', '26DN1', '26DN2',
    '26GN1', '26GN2', '26HN1', '26HN2', '27CN1', '25CZ1', '25CZ2', '25DZ1',
    '25DZ2', '25GZ1', '25GZ2', '25HZ1', '25HZ2', '26CZ1', '26CZ2', '26DZ1',
    '26DZ2', '26GZ1', '26GZ2', '26HZ1', '26HZ2', '27CZ1', '31AN1', '31AN2',
    '31BN1', '31BN2', '31EN1', '31EN2', '31FN1', '31FN2', '32AN1', '32AN2',
    '32BN1', '32BN2', '32EN1', '32EN2', '32FN1', '32FN2', '33AN1'
]

dic_zone['zone_4'] = [
    '36FN2', '37AN1', '37AN2', '37BN1', '37BN2', '37EN1', '36FZ2', '37AZ1',
    '37AZ2', '37BZ1', '37BZ2', '37EZ1', '36HN2', '37CN1', '37CN2', '37DN1',
    '37DN2', '37GN1', '64FN2', '37CZ1', '37CZ2', '37DZ1', '37DZ2', '37GZ1',
    '64FZ2', '43AN1', '43AN2', '43BN1', '43BN2', '43EN1', '64HN2', '43AZ1',
    '43AZ2', '43BZ1', '43BZ2', '43EZ1', '64HZ2', '43CN1', '43CN2', '43DN1',
    '43DN2', '43GN1'
]

dic_zone['zone_5'] = [
    '30EZ2', '30FZ1', '30FZ2', '31AZ1', '31AZ2', '31BZ1', '31BZ2', '31EZ1',
    '31EZ2', '31FZ1', '31FZ2', '30GN2', '30HN1', '30HN2', '31CN1', '31CN2',
    '31DN1', '31DN2', '31GN1', '31GN2', '31HN1', '31HN2', '30GZ2', '30HZ1',
    '30HZ2', '31CZ1', '31CZ2', '31DZ1', '31DZ2', '31GZ1', '31GZ2', '31HZ1',
    '31HZ2', '37EN2', '37FN1', '37FN2', '38AN1', '38AN2', '38BN1', '38BN2',
    '38EN1', '38EN2', '38FN1', '38FN2', '37EZ2', '37FZ1', '37FZ2', '38AZ1',
    '38AZ2', '38BZ1', '38BZ2', '38EZ1', '38EZ2', '38FZ1', '38FZ2', '37GN2',
    '37HN1', '37HN2', '38CN1', '38CN2', '38DN1', '38DN2', '38GN1', '38GN2',
    '38HN1', '38HN2', '37GZ2', '37HZ1', '37HZ2', '38CZ1', '38CZ2', '38DZ1',
    '38DZ2', '38GZ1', '38GZ2', '38HZ1', '38HZ2', '43EN2', '43FN1', '43FN2',
    '44AN1', '44AN2', '44BN1', '44BN2', '44EN1', '44EN2', '44FN1', '44FN2',
    '43EZ2', '43FZ1', '43FZ2', '44AZ1', '44AZ2', '44BZ1', '44BZ2', '44EZ1',
    '44EZ2', '44FZ1', '44FZ2', '43GN2', '43HN1', '43HN2', '44CN1', '44CN2',
    '44DN1', '44DN2', '44GN1', '44GN2', '44HN1', '44HN2', '43GZ2', '43HZ1',
    '43HZ2', '44CZ1', '44CZ2', '44DZ1', '44DZ2', '44GZ1', '44GZ2', '44HZ1',
    '44HZ2', '49EN2', '49FN1', '49FN2', '50AN1', '50AN2', '50BN1', '50BN2',
    '50EN1', '50EN2', '50FN1', '50FN2', '49EZ2', '49FZ1', '49FZ2', '50AZ1',
    '50AZ2', '50BZ1', '50BZ2', '50EZ1', '50EZ2', '50FZ1', '50FZ2', '49GN2',
    '49HN1', '49HN2', '50CN1', '50CN2', '50DN1', '50DN2', '50GN1', '50GN2',
    '50HN1', '50HN2'
]

dic_zone['zone_6'] = [
    '32AZ1', '32AZ2', '32BZ1', '32BZ2', '32CN1', '32CN2', '32DN1', '32DN2',
    '32CZ1', '32CZ2', '32DZ1', '32DZ2', '39AN1', '39AN2', '39BN1', '39BN2'
]

dic_zone['zone_7'] = [
    '39AZ1', '39AZ2', '39BZ1', '39BZ2', '39EZ1', '39EZ2', '39FZ1', '39FZ2',
    '40AZ1', '40AZ2', '40BZ1', '40BZ2', '39CN1', '39CN2', '39DN1', '39DN2',
    '39GN1', '39GN2', '39HN1', '39HN2', '40CN1', '40CN2', '40DN1', '40DN2',
    '39CZ1', '39CZ2', '39DZ1', '39DZ2', '39GZ1', '39GZ2', '39HZ1', '39HZ2',
    '40CZ1', '40CZ2', '40DZ1', '40DZ2', '45AN1', '45AN2', '45BN1', '45BN2',
    '45EN1', '45EN2', '45FN1', '45FN2', '46AN1', '46AN2', '46BN1', '46BN2',
    '45AZ1', '45AZ2', '45BZ1', '45BZ2', '45EZ1', '45EZ2', '45FZ1', '45FZ2',
    '46AZ1', '46AZ2', '46BZ1', '46BZ2'
]

dic_zone['zone_8'] = [
    '65AN1', '65AN2', '65BN1', '65BN2', '65EN1', '65EN2', '65FN1', '65FN2',
    '43CZ1', '43CZ2', '43DZ1', '65AZ1', '65AZ2', '65BZ1', '65BZ2', '65EZ1',
    '65EZ2', '65FZ1', '65FZ2', '49AN1', '49AN2', '49BN1', '65CN1', '65CN2',
    '65DN1', '65DN2', '65GN1', '65GN2', '65HN1', '65HN2', '49AZ1', '49AZ2',
    '49BZ1', '65CZ1', '65CZ2', '65DZ1', '65DZ2', '65GZ1', '65GZ2', '65HZ1',
    '65HZ2', '49CN1', '49CN2', '49DN1', '67AN1', '67AN2', '67BN1', '67BN2',
    '67EN1', '67EN2', '67FN1', '67FN2', '49CZ1', '49CZ2', '49DZ1', '67AZ1',
    '67AZ2', '67BZ1', '67BZ2', '67EZ1', '67EZ2', '67FZ1', '67FZ2', '55AN1',
    '55AN2', '55BN1', '67CN1', '67CN2', '67DN1', '67DN2', '67GN1', '67GN2',
    '67HN1', '67HN2', '55AZ1', '55AZ2', '55BZ1'
]

dic_zone['zone_9'] = [
    '45CN1', '45CN2', '45DN1', '45DN2', '45GN1', '45GN2', '45HN1', '45CZ1',
    '45CZ2', '45DZ1', '45DZ2', '45GZ1', '45GZ2', '45HZ1', '51AN1', '51AN2',
    '51BN1', '51BN2', '51EN1', '51EN2', '51FN1', '51AZ1', '51AZ2', '51BZ1',
    '51BZ2', '51EZ1', '51EZ2', '51FZ1', '51CN1', '51CN2', '51DN1', '51DN2',
    '51GN1', '51GN2', '51HN1', '51CZ1', '51CZ2', '51DZ1', '51DZ2', '51GZ1',
    '51GZ2', '51HZ1', '57AN1', '57AN2', '57BN1', '57BN2', '57EN1', '57EN2',
    '57FN1', '57AZ1', '57AZ2', '57BZ1', '57BZ2', '57EZ1', '57EZ2', '57FZ1'
]

dic_zone['zone_10'] = [
    '45HN2', '46CN1', '46CN2', '46DN1', '46DN2', '46GN1', '46GN2', '45HZ2',
    '46CZ1', '46CZ2', '46DZ1', '46DZ2', '46GZ1', '46GZ2', '51FN2', '52AN1',
    '52AN2', '52BN1', '52BN2', '52EN1', '52EN2', '51FZ2', '52AZ1', '52AZ2',
    '52BZ1', '52BZ2', '52EZ1', '52EZ2', '51HN2', '52CN1', '52CN2', '52DN1',
    '52DN2', '52GN1', '52GN2', '51HZ2', '52CZ1', '52CZ2', '52DZ1', '52DZ2',
    '52GZ1', '52GZ2', '57FN2', '58AN1', '58AN2', '58BN1', '58BN2', '58EN1',
    '58EN2', '57FZ2', '58AZ1', '58AZ2', '58BZ1', '58BZ2', '58EZ1', '58EZ2',
    '57HN2', '58CN1', '58CN2', '58DN1', '58DN2', '58GN1', '58GN2', '57HZ2',
    '58CZ1', '58CZ2', '58DZ1', '58DZ2', '58GZ1', '58GZ2'
]

dic_zone['zone_11'] = [
    '68CZ2', '68DZ1', '68DZ2', '68GZ1', '68GZ2', '68HZ1', '69AN2', '69BN1',
    '69BN2', '69EN1', '69EN2', '69FN1', '69AZ2', '69BZ1', '69BZ2', '69EZ1',
    '69EZ2', '69FZ1', '69CN2', '69DN1', '69DN2', '69GN1', '69GN2', '69HN1'
]

In [2]:
dic_zone_ = {}
dic_zone_['zone1'] = [
    '05GN2', '05HN1', '05HN2', '06CN1', '06CN2', '06DN1', '06DN2', '06GN1',
    '05GZ2', '05HZ1', '05HZ2', '06CZ1', '06CZ2', '06DZ1', '06DZ2', '06GZ1',
    '10EN2', '10FN1', '10FN2', '11AN1', '11AN2', '11BN1', '11BN2', '11EN1',
    '10EZ2', '10FZ1', '10FZ2', '11AZ1', '11AZ2', '11BZ1', '11BZ2', '11EZ1',
    '10GN2', '10HN1', '10HN2', '11CN1', '11CN2', '11DN1', '11DN2', '11GN1',
    '10GZ2', '10HZ1', '10HZ2', '11CZ1', '11CZ2', '11DZ1', '11DZ2', '11GZ1',
    '15EN2', '15FN1', '15FN2', '16AN1', '16AN2', '16BN1', '16BN2', '16EN1'
]

dic_zone_['zone2'] = [
    '14BZ1', '14BZ2', '14EZ1', '14EZ2', '14FZ1', '14DN1', '14DN2', '14GN1',
    '14GN2', '14HN1', '14DZ1', '14DZ2', '14GZ1', '14GZ2', '14HZ1', '19BN1',
    '19BN2', '19EN1', '19EN2', '19FN1', '19BZ1', '19BZ2', '19EZ1', '19EZ2',
    '19FZ1'
]

dic_zone_['zone3'] = [
    '19CN2', '19DN1', '19DN2', '19GN1', '19GN2', '19CZ2', '19DZ1', '19DZ2',
    '19GZ1', '19GZ2', '25AN2', '25BN1', '25BN2', '25EN1', '25EN2', '25AZ2',
    '25BZ1', '25BZ2', '25EZ1', '25EZ2', '25CN2', '25DN1', '25DN2', '25GN1',
    '25GN2', '25CZ2', '25DZ1', '25DZ2', '25GZ1', '25GZ2', '31AN2', '31BN1',
    '31BN2', '31EN1', '31EN2'
]

dic_zone_['zone4'] = [
    '26BN1', '26BN2', '26EN1', '26EN2', '26FN1', '26BZ1', '26BZ2', '26EZ1',
    '26EZ2', '26FZ1', '26DN1', '26DN2', '26GN1', '26GN2', '26HN1', '26DZ1',
    '26DZ2', '26GZ1', '26GZ2', '26HZ1', '32BN1', '32BN2', '32EN1', '32EN2',
    '32FN1'
]

dic_zone_['zone5'] = [
    '30EZ2', '30FZ1', '30FZ2', '31AZ1', '31AZ2', '31BZ1', '31BZ2', '31EZ1',
    '31EZ2', '31FZ1', '31FZ2', '32AZ1', '32AZ2', '32BZ1', '30GN2', '30HN1',
    '30HN2', '31CN1', '31CN2', '31DN1', '31DN2', '31GN1', '31GN2', '31HN1',
    '31HN2', '32CN1', '32CN2', '32DN1', '30GZ2', '30HZ1', '30HZ2', '31CZ1',
    '31CZ2', '31DZ1', '31DZ2', '31GZ1', '31GZ2', '31HZ1', '31HZ2', '32CZ1',
    '32CZ2', '32DZ1', '37EN2', '37FN1', '37FN2', '38AN1', '38AN2', '38BN1',
    '38BN2', '38EN1', '38EN2', '38FN1', '38FN2', '39AN1', '39AN2', '39BN1'
]

dic_zone_['zone6'] = [
    '37BZ2', '37EZ1', '37EZ2', '37FZ1', '37FZ2', '38AZ1', '38AZ2', '38BZ1',
    '38BZ2', '38EZ1', '38EZ2', '38FZ1', '37DN2', '37GN1', '37GN2', '37HN1',
    '37HN2', '38CN1', '38CN2', '38DN1', '38DN2', '38GN1', '38GN2', '38HN1',
    '37DZ2', '37GZ1', '37GZ2', '37HZ1', '37HZ2', '38CZ1', '38CZ2', '38DZ1',
    '38DZ2', '38GZ1', '38GZ2', '38HZ1', '43BN2', '43EN1', '43EN2', '43FN1',
    '43FN2', '44AN1', '44AN2', '44BN1', '44BN2', '44EN1', '44EN2', '44FN1',
    '43BZ2', '43EZ1', '43EZ2', '43FZ1', '43FZ2', '44AZ1', '44AZ2', '44BZ1',
    '44BZ2', '44EZ1', '44EZ2', '44FZ1', '43DN2', '43GN1', '43GN2', '43HN1',
    '43HN2', '44CN1', '44CN2', '44DN1', '44DN2', '44GN1', '44GN2', '44HN1',
    '43DZ2', '43GZ1', '43GZ2', '43HZ1', '43HZ2', '44CZ1', '44CZ2', '44DZ1',
    '44DZ2', '44GZ1', '44GZ2', '44HZ1', '49BN2', '49EN1', '49EN2', '49FN1',
    '49FN2', '50AN1', '50AN2', '50BN1', '50BN2', '50EN1', '50EN2', '50FN1'
]

dic_zone_['zone7'] = [
    '38FZ2', '39AZ1', '39AZ2', '39BZ1', '39BZ2', '39EZ1', '39EZ2', '39FZ1',
    '39FZ2', '40AZ1', '40AZ2', '38HN2', '39CN1', '39CN2', '39DN1', '39DN2',
    '39GN1', '39GN2', '39HN1', '39HN2', '40CN1', '40CN2', '38HZ2', '39CZ1',
    '39CZ2', '39DZ1', '39DZ2', '39GZ1', '39GZ2', '39HZ1', '39HZ2', '40CZ1',
    '40CZ2', '44FN2', '45AN1', '45AN2', '45BN1', '45BN2', '45EN1', '45EN2',
    '45FN1', '45FN2', '46AN1', '46AN2', '44FZ2', '45AZ1', '45AZ2', '45BZ1',
    '45BZ2', '45EZ1', '45EZ2', '45FZ1', '45FZ2', '46AZ1', '46AZ2', '44HN2',
    '45CN1', '45CN2', '45DN1', '45DN2', '45GN1', '45GN2', '45HN1', '45HN2',
    '46CN1', '46CN2', '44HZ2', '45CZ1', '45CZ2', '45DZ1', '45DZ2', '45GZ1',
    '45GZ2', '45HZ1', '45HZ2', '46CZ1', '46CZ2'
]

dic_zone_['zone8'] = [
    '65AZ2', '65BZ1', '65BZ2', '65EZ1', '65EZ2', '65FZ1', '65FZ2', '49AN1',
    '49AN2', '65CN2', '65DN1', '65DN2', '65GN1', '65GN2', '65HN1', '65HN2',
    '49AZ1', '49AZ2', '65CZ2', '65DZ1', '65DZ2', '65GZ1', '65GZ2', '65HZ1',
    '65HZ2', '49CN1', '49CN2', '67AN2', '67BN1', '67BN2', '67EN1', '67EN2',
    '67FN1', '67FN2', '49CZ1', '49CZ2', '67AZ2', '67BZ1', '67BZ2', '67EZ1',
    '67EZ2', '67FZ1', '67FZ2', '55AN1', '55AN2'
]

dic_zone_['zone9'] = [
    '50FN2', '51AN1', '51AN2', '51BN1', '51BN2', '51EN1', '51EN2', '50FZ2',
    '51AZ1', '51AZ2', '51BZ1', '51BZ2', '51EZ1', '51EZ2', '50HN2', '51CN1',
    '51CN2', '51DN1', '51DN2', '51GN1', '51GN2', '50HZ2', '51CZ1', '51CZ2',
    '51DZ1', '51DZ2', '51GZ1', '51GZ2'
]

dic_zone_['zone10'] = [
    '51FN1', '51FN2', '52AN1', '52AN2', '52BN1', '52BN2', '52EN1', '51FZ1',
    '51FZ2', '52AZ1', '52AZ2', '52BZ1', '52BZ2', '52EZ1', '51HN1', '51HN2',
    '52CN1', '52CN2', '52DN1', '52DN2', '52GN1', '51HZ1', '51HZ2', '52CZ1',
    '52CZ2', '52DZ1', '52DZ2', '52GZ1', '57FN1', '57FN2', '58AN1', '58AN2',
    '58BN1', '58BN2', '58EN1', '57FZ1', '57FZ2', '58AZ1', '58AZ2', '58BZ1',
    '58BZ2', '58EZ1'
]

In [3]:
count = 0
for key in dic_zone_:
    for p in dic_zone_[key]:
        count = count + 1
print(count)

485

In [4]:
dic_re = {}

path_local = '/Volumes/T7/Grad Project/Data/ANH4_n/'
pbar = tqdm(total=count)
extension = '.TIF'
list_file = os.listdir(path_local)
for it in dic_zone_:
    dic_re[it] = []
    if not os.path.exists(path_local + it):
        os.makedirs(path_local + it)
    for p in dic_zone_[it]:
        pbar.update(1)
        if 'M5_' + p + '.TIF' in list_file:
            shutil.copy2(path_local + 'M5_' + p + '.TIF', path_local + it)
        else:
            dic_re[it].append(p)
        if 'R5_' + p + '.TIF' in list_file:
            shutil.copy2(path_local + 'R5_' + p + '.TIF', path_local + it)

pbar.close()

100%|██████████| 485/485 [00:18<00:00, 26.26it/s]

In [5]:
dic_re

{'zone1': [],
 'zone2': [],
 'zone3': ['10DZ1'],
 'zone4': [],
 'zone5': [],
 'zone6': ['43DZ2', '43GZ1', '49BN2', '49EN1'],
 'zone7': [],
 'zone8': [],
 'zone9': ['50HZ2'],
 'zone10': []}

In [5]:
count = 0
for key in dic_zone:
    count = count + len(dic_zone[key])
print(count, count / 1009)

749 0.7423191278493558

In [7]:
def getDEM(zone, dict):
    path_local = '/Volumes/T7/Grad Project/Data/ANH4_n/' + zone + '/'
    if not os.path.exists(path_local):
        os.makedirs(path_local)
        # print('try to make dir first')
        # return
    # uid = getpwnam("Haoyang Dong")[2]
    # gid = getgrnam("staff")[2]
    # os.chown("/Volumes/T7/Grad Project/Data/ANH4_n/", uid, gid)
    # Path(path_local).mkdir(parents=True, exist_ok=True)
    print(zone + ': ')
    print('Downloading...')
    for i in tqdm(range(len(dict[zone]))):
        url_DTM5 = 'https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/02b_DTM_5m/M5_' + dict[
            zone][i] + '.zip'
        url_DSM5 = 'https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/03b_DSM_5m/R5_' + dict[
            zone][i] + '.zip'
        filename_DTM5 = url_DTM5.split('/')[-1]
        filename_DSM5 = url_DSM5.split('/')[-1]
        # print(url_DTM5, url_DSM5)
        r_DTM5 = requests.get(url_DTM5, stream=True)
        r_DSM5 = requests.get(url_DSM5, stream=True)

        with open(path_local + filename_DTM5, "wb") as zip_:
            for chunk in r_DTM5.iter_content(chunk_size=1024):
                # writing one chunk at a time to pdf file
                if chunk:
                    zip_.write(chunk)

        with open(path_local + filename_DSM5, "wb") as zip_:
            for chunk in r_DSM5.iter_content(chunk_size=1024):

                # writing one chunk at a time to pdf file
                if chunk:
                    zip_.write(chunk)

    print('Unzipping...')
    pbar = tqdm(total=len(os.listdir(path_local)))
    extension = ".zip"
    for item in os.listdir(path_local):  # loop through items in dir
        if item.endswith(extension):  # check for ".zip" extension
            file_name = path_local + item  # get full path of files
            zip_ref = ZipFile(file_name)  # create zipfile object
            zip_ref.extractall(path_local)  # extract file to dir
            zip_ref.close()  # close file
            os.remove(file_name)  # delete zipped file
            pbar.update(1)
    pbar.close()

In [8]:
for k in dic_re:
    getDEM(k, dic_re)

zone1:
Downloading...

0it [00:00, ?it/s]

Unzipping...

  0%|          | 0/112 [00:00<?, ?it/s]

zone2:
Downloading...

0it [00:00, ?it/s]

Unzipping...

  0%|          | 0/50 [00:00<?, ?it/s]

zone3:
Downloading...

100%|██████████| 1/1 [00:07<00:00,  7.83s/it]

Unzipping...

  3%|▎         | 2/70 [00:00<00:01, 42.86it/s]

zone4:
Downloading...

0it [00:00, ?it/s]

Unzipping...

  0%|          | 0/50 [00:00<?, ?it/s]

zone5:
Downloading...

0it [00:00, ?it/s]

Unzipping...

  0%|          | 0/112 [00:00<?, ?it/s]

zone6:
Downloading...

100%|██████████| 4/4 [00:16<00:00,  4.03s/it]

Unzipping...

  4%|▍         | 8/192 [00:00<00:08, 22.70it/s]

zone7:
Downloading...

0it [00:00, ?it/s]

Unzipping...

  0%|          | 0/154 [00:00<?, ?it/s]

zone8:
Downloading...

0it [00:00, ?it/s]

Unzipping...

  0%|          | 0/90 [00:00<?, ?it/s]

zone9:
Downloading...

100%|██████████| 1/1 [00:05<00:00,  5.05s/it]

Unzipping...

  4%|▎         | 2/56 [00:00<00:02, 21.22it/s]

zone10:
Downloading...

0it [00:00, ?it/s]

Unzipping...

  0%|          | 0/84 [00:00<?, ?it/s]

In [9]:
getDEM('zone_3')

zone_3:
Downloading...

100%|██████████| 119/119 [03:06<00:00,  1.57s/it]

Unzipping...

 49%|████▉     | 238/486 [00:08<00:09, 26.75it/s]

In [4]:
for key in ['zone_10', 'zone_11']:
    getDEM(key)

zone_10:
Downloading...

100%|██████████| 70/70 [06:31<00:00,  5.59s/it]

Unzipping...

100%|██████████| 140/140 [00:05<00:00, 23.91it/s]

zone_11:
Downloading...

100%|██████████| 24/24 [01:34<00:00,  3.95s/it]

Unzipping...

100%|██████████| 48/48 [00:01<00:00, 24.40it/s]

In [27]:
getDEM('zone_6')

Downloading...

100%|██████████| 16/16 [00:34<00:00,  2.13s/it]

Unzipping...

100%|██████████| 32/32 [00:01<00:00, 20.98it/s]

In [13]:
len(os.listdir(path_local))

32

In [ ]:
zone_1 = [
    '05EZ1',
    '05EZ2',
    '05FZ1',
    '05FZ2',
    '06AZ1',
    '06ZA2',
    '06BZ2',
    '06EZ1',
    '06EZ2',
    '06FZ1',
    '06FZ2',
    '05GN1',
    '05GN2',
    '05HN1',
]

In [6]:
file_path = 'data/'

In [5]:
table_list = pd.read_csv('data/arcgis_num.csv')
table_list = table_list.drop('Unnamed: 1', axis='columns')
table_list = table_list.dropna()
table_list = table_list.reset_index(drop=True)

table_list

     Unnamed: 0
0             1
1             2
2             3
3             4
4             5
...         ...
1005       1006
1006       1007
1007       1008
1008       1009
1009       1010

[1010 rows x 1 columns]

In [8]:
table_list_ = pd.read_csv('data/arcgis_names.csv')
table_list_ = table_list_.drop('Unnamed: 1', axis='columns')
table_list_ = table_list_.dropna()
table_list_ = table_list_.reset_index(drop=True)

table_list_

    Unnamed: 0
0         Name
1        01GN1
2        01GN2
3        01GZ1
4        01GZ2
..         ...
975      69FN1
976      69FZ1
977      69GN1
978      69GN2
979      69HN1

[980 rows x 1 columns]

In [23]:
table_list = pd.read_csv('data/arcgis_names.csv')

In [26]:
table_list = table_list.drop('Unnamed: 1', axis='columns')

In [28]:
table_list = table_list.dropna()
table_list = table_list.reset_index(drop=True)
table_list

    Unnamed: 0
0         Name
1        01GN1
2        01GN2
3        01GZ1
4        01GZ2
..         ...
975      69FN1
976      69FZ1
977      69GN1
978      69GN2
979      69HN1

[980 rows x 1 columns]

In [14]:
table_list = table_list.drop('Unnamed: 1', axis='columns')

In [15]:
table_list = table_list.drop([0, 1, 2, 3, 4])

In [17]:
table_list = table_list.dropna()

In [21]:
table_list.reset_index(drop=True)

                                                   Name
0                                                 01CZ1
1     https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/02a_...
2     https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/02b_...
3     https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/03a_...
4     https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/03b_...
...                                                 ...
4890                                              69HN1
4891  https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/02a_...
4892  https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/02b_...
4893  https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/03a_...
4894  https://ns_hwh.fundaments.nl/hwh-ahn/ahn4/03b_...

[4895 rows x 1 columns]

979.0

In [9]:
data = {
    'Name': [],
    'AHN4_DTM_05m': [],
    'AHN4_DTM_5m': [],
    'AHN4_DSM_05m': [],
    'AHN4_DSM_5m': []
}

df = pd.DataFrame(data)
df

Empty DataFrame
Columns: [Name, AHN4_DTM_05m, AHN4_DTM_5m, AHN4_DSM_05m, AHN4_DSM_5m]
Index: []